:root {
    --orange: rgb(255, 115, 0);
}
html {
    scroll-behavior: smooth;
}
body {
  
    padding: 0;
    margin: 0;
    padding-top: 50px;
    font-family: Helvetica;
}
.header {
    display: flex;
    justify-content: center;
}
.me {
    display: flex;
    justify-content: center;
}
.about {
    background: rgb(55, 56, 56);
    display: flex;
    justify-content: center;
}
.container {
    width: 100%;
    max-width: 1280px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}
.polosa {
    width: 100%;
    height: 50px;
    z-index: 9; 
    background: #c6cccc;
    position: fixed;
    top: 0;
    left: 0;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    z-index: 10;
    background: #68fcfc00;
    max-width: 1280px;
    }
.navbar_ul {
    display: flex;
    justify-content: flex-end;
    padding-inline-start: 0;
    margin-block: 0;
    align-content: center;
    margin-right: 2%;
}  
.navbar_li {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 0;
    font-size: 1.30rem;
    background: #c6cccc; /* Фон */
    color: white;
    height: 50px; /* Высота */
    position: relative; /* Относительное позиционирование */
    width: 130px;
    text-align: center;
    transform: skew(-18deg);
    transition: height 0.5s, width 0.5s, background 0.5s;
    transition-timing-function: linear;
}
nav > ul > li:hover {
    background: var(--orange);
    color: black;
    width: 180px;
    height: 60px;
}
nav > ul > li > a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 10% 0% 0% 0%;
  }
h1 {
    color: var(--orange);
    text-shadow: 1px 1px rgb(131, 131, 131);
}
h2 {
    font-size: 1.5rem;
    color: var(--orange);
    display: block;
    text-align: left;
}
.photo {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#avatar {
    border-radius: 50%;
    width: 226px;
    height: 226px; 
    overflow: hidden;
}
.project-tile {
    display: flex;
    width: 44%;
    flex-direction: column;
    color: var(--orange);
    padding-top: 30px;
} 
p {
    letter-spacing: 2px;
    
}
.container > a:hover {
    background: var(--orange);
    color: black;
}  
.link {
    color: var(--orange);
 }
.bottom_border {
    width: 100%;
    height: 5px;
    background:  var(--orange);
}
footer {
    margin: 0px 20px 0px 20px;
    display: flex;
    justify-content: center;
}
.div-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-link {
    text-decoration: none;
    color: var(--orange);
}
@media (max-width: 1000px) {

    .polosa {
        height: 30px;
        width: 100%;
    }
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 0 10px;
        z-index: 10;
        background: #68fcfc00;
        }
    .navbar_ul {
        display: flex;
        justify-content: flex-end;
        padding-inline-start: 0;
        margin-block: 0;
        align-content: center;
        margin-right: 2%;
    }  
    .navbar_li {
        list-style-type: none;
        margin: 0;
        padding: 0 0 0 0;
        font-size: 0.75rem;
        background: #c6cccc; /* Фон */
        color: white;
        height: 30px; /* Высота */
        position: relative; /* Относительное позиционирование */
        width: 80px;
        text-align: center;
        transform: skew(-18deg);
        transition: height 0.5s, width 0.5s, background 0.5s;
        transition-timing-function: linear;
    }
    nav > ul > li:hover {
        background: var(--orange);
        color: black;
        width: 100px;
        height: 40px;
    }
    nav > ul > li > a {
        display: block;
        color: inherit;
        text-decoration: none;
        padding: 10% 0% 0% 0%;
    }
    .project-tile {
        padding-top: 20px;
    } 
}
@media (max-width: 750px) {
    .project-tile {
        width: 100%;
        padding-top: 20px;
    }
}